/* general */
*{
    font-size: 1.15rem;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    outline: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {height: 100px;}

h3 {margin: 10px;}

.message {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.alert-success,
.alert-danger {
    position: fixed;
    top: 50%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.body-register .alert-success,
.body-register .alert-danger {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
}



form {
    display: flex;
    flex-direction: column;
    background-color: #62929E;
    width: 100vw;
    max-height: 75vh;
    padding: 50px;
    /* border-radius: 10px; */
}

.bi-check {
    font-size: 2rem;
    color: #04c004;
    top: 5px;
    position: relative;
}

input {
    
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: transparent;
}

button {
    margin: 10px 0;
    cursor: pointer;
}

.bi-eye,
.bi-eye-slash {
    width: 10%;
    padding: 5px;
}

#forgot {
    border: none;
    margin: 0;
    padding: 0;
}

#enter-btn,#register-btn,#out-btn {
    margin: 20px 0;

}

#forgot:hover {
    background-color: transparent;
}

a {
    margin-top: 10px;
    color: white;
}

footer {
    bottom: 0px;
    margin: 0;
    padding: 20px;
    text-align: center;
    max-height: 50px;
}

/*home*/

.body-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.body-home h1{
    margin-top: 100px;
  
}

.container-nav{
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    margin: 10px;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  
}

.accordion{
    margin: 0 auto;
    width: 100vw;
}

.item-resume{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    margin: 10px auto;
    
}

.item-resume p{
    font-size: 1.1rem;
    position: relative;
    top: 10px;

}

#btn-resume{
    background-color:  #62929E;
    color: white;
}

.include{
    width: 90vw;
    margin: 20px auto;
    background-color: #62929E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#container-include{
    display: flex;
    justify-content: center;
}

.desc,.div-amount,.div-date,.div-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

input[date]{
    border: none;
}
.desc,.div-amount label{
    position: relative;
    top: 20px;
}


.table-amount{
    width: 100;
    display: flex;
    justify-content: center;
}

table{
    width: 98%;
    
}

th{
    text-align: center;

}

.body-home i{
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.column-amount{
    width: 30%;
}


td{
    list-style: none;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px auto;
    font-size: .9rem;
    flex-wrap: wrap;
}

.bi-trash3{
    position: relative;
    top: 5px;
    left: 5px;
}


.disabled {display: none;}

